<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068288647979-e4l7ho2simp90g8ulhh070ldso5kv0hr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMQij3otS2CxNif39wrxFHN0BOjCA1AUM</string>
	<key>GCM_SENDER_ID</key>
	<string>1068288647979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khaterCS.nuntius.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>maps-16e15</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-16e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068288647979:ios:2b12a61dc2484a82991b6e</string>
</dict>
</plist>